# WordPress core files
wp-admin/
wp-includes/
*.php

# WordPress content
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
wp-content/backups-dup-lite/
wp-content/smush-webp/
wp-content/themes/index.php

# Sensitive files
favicon.ico

# Plugins and languages managed by Composer
wp-content/plugins/
wp-content/languages/
